@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');



body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
	font-color: #b2bcd4;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  padding: 150px 0;
}


/*REGULAR*/

.navbar-light .navbar-nav .nav-link {
  color: #b2ebf2;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}


/*HOVER*/

.navbar-light .navbar-nav .nav-link:hover {
  color: grey;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}


/*ACTIVE*/

.navbar-light .navbar-nav .active .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ffc107;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.sm-icon {
  color: white;
  padding: 5px;
}

.sm-icon:hover {
  color: grey;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.footer-items {
  color: #fff;
  font-weight: 300;
  font-style: italic;
}
