@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

$heading-font: 'Lato', sans-serif;

$dark-primary: #0097a7;
$light-primary: #b2ebf2;
$primary-color: #00bcd4;
$accent-color: #ffc107;
$primary-text: #212121;
$secondary-text: #757575;
$icon-color: #fff;
$divider-color: #bdbdbd;

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
